<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - US Emissions Data Analysis 1997-2018</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class ="navbar navbar-default navbar-fixed-top">
        <div class = "topnav" id="myTopnav">
            <a href="{{ url_for('index') }}" class="active">Home</a>
            <a href="{{ url_for('tableau') }}">Preliminary Analysis</a>
            <a href = "{{ url_for('analysis') }}">Interactive Analysis</a>
            <a href = "{{ url_for('model') }}">Machine Learning Model</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="navFunction()">
            <i class="fa fa-bars"></i>
            </a>  
        </div>
    </nav>
        <div class="row bg-dark"></div>
        <div class="row bg-dark">
                <div class="container">
                    <hr>
                    <div class="jumbotron text-center">
                        <h1>U.S Emissions Analysis<br>
                            1990-2018</h1>
                    </div>
                </div>
        </div>
        <hr>
    <div class="content">
        <div class="container">
            <center><h1 class="front-page">Overview</h1></center>
            <p class="front-page">  More and more rapidly, the world is starting to notice the effects of global climate change. It's no longer a debate; it's undeniable. Historic flooding,
                unprecedented drought, & devastating wildfires displacing millions of people are among some of the more drastic and noticable effects of climate change. Gases such as CO2,
                Methane, and Nitrous Oxide are primary culprits in creating a "greenhouse effect" that traps more heat from the sun, steadily increasing the average temperatures
                around the globe. These "greenhouse gases" are emitted in the greatest quantities by the most advanced nations, and the United States is no exception. In 2018 alone, the United
                States emitted <b>6,677 Million Metric Tons of CO2e</b> as a whole.
            </p>
            <p class="front-page">    
                    For our final project as part of the Rutgers University Data Analysis Boot Camp, our group chose to analyze the emission levels across the United States, finding
                which states are the greatest polluters, which sectors within those states produce the largest amount of emissions, and measure those emissions against State population
                and Gross Domestic Profit (GDP). Then, using Machine Learning, we hope to predict the emission levels going forward, based on past emissions, Population, and GDP.
            </p>
        </div>
        <hr>
        <div class="container">
            <center><h1 class="front-page">Hypothesis</h1></center>
            <p class="list">
                Using the features GDP, Population, and past GHG emissions, we will try to0 predict future GHG emissions for each state and the sectors within those states.
            </p>
            <h3>Questions to Answer</h3>
            <p class="list">
                - What correlation, if any, exists between State GDP and GHG Emission levels?<br>
                - What correlation, if any, exists between State Population and GHG Emission levels?<br>
                - Over the course of 1990 to 2018, which States have the highest emissions? The lowest?<br>
                - Can we predict GHG Emissions through State Population and GDP?
            </p>
        </div>
        <hr>
        <div class="container">
            <center><h1 class="front-page">Results</h1></center>
            <h3>Initial Analysis<br></h3>
               <h5>Our initial analysis provided the following interesting & promising results:<br></h6>
               <p class="list">
                - States with larger populations tended to produce greater GHG emissions, but it was not a linear increase.<br>
                - The highest emissions sector in every State is the Energy sector.<br>
                - The highest polluting state in the country is Texas, followed by California, then Pennsylvania and Florida fighting for the Bronze medal.<br>
                - The largest total GDP over 1997-2018 in the country is California at $198 Trillion, with Texas and New York an order of magnitude behind at $128 Trillion and 118 Trillion.<br>
                - The highest population States in 2018 are California at 39M, Texas at 28M, & Florida at 28M, with New York close behind at 19M.<br>
                </p>
            <h3>Machine Learning<br></h3>
                <h5>To test our hypothesis, we utilized a Random Forest Regressor Model:<br></h6>
                <h4>Data Preprocessing<br></h4>
                <p class="list">
                    - Data was merged into a table including emissions by State, Sector, and Year, with included GDP and Population values for each State per Year<br>
                    - State and Sector were encoded to use as Features in the model<br>
                    - Data was then given an outcome based on these factors:<br>
                       - For the given State, Sector, and Year, did Greenhouse Gas Emissions rise compared to the year prior?<br> 
                       - If yes, we labeled the outcome as "1", otherwise, "0"<br>
                </p>
                <h4>Feature Engineering and Feature Selection<br></h4>
                <p class="list">
                    - State and Sector were encoded to use in the model<br>
                    - State and the sectors within have variation that effect emission levels, and thus should be included in the decision-making process<br>
                  - Features chosen<br>
                    - StateEncoded<br>
                    - SectorEncoded<br>
                    - GDP<br>
                    - Population<br>
                    - All GHG Emissions<br>
                  - Features were chosen based on their overall weight on potential GHG emissions, as well as to scale the data depending on the state and sector the emissions were from.<br>
                  - Data was given a standard 80-20 split for Training and Testing<br>
                </p>
                <h4>Model<br></h4>
                <p class="list">
                    - As we labeled the data based on the outcomes we intend to measure, we used a Random Forest Regressor model, as that proved the most effective at classifying our data.<br>
                    - The model was trained using the pre-processed, pre-labeled data, which included over 13000 rows and 5 columns per row.<br>
                    - Data was not scaled, as no values were extremely high and their existing weight gave a better score<br>
                    - Our Training Score was 87.2%, but our testing score was low, at only 7.5%<br>
                    - Nevertheless, when plugging in specific states and sectors into the model after training, we achieved a large variation in testing scores, ranging from 4% to 91.5% (excluding values of 1.0 due to zero reported emissions)<br>
                    - As a team, we have previously tried linear regression, K-Means, and a Neural Network model with little success, and so our RFR model seems the most likely to predict a rise or fall in GHG Emissions year-to-year.<br>
                </p>
                <h3>Conclusion<br></h3>
                <p class="list">
                    We will need more data, with ideally other features, in order to properly predict GHG Emissions going forward.<br>
                </p>
                <h4>Possible Improvements:<br></h4>
                <p class="list">
                    - Take into account political leanings for each State.<br>
                    - Find what sectors in each State produce the highest GDP.<br>
                    - Find what sectors in each State receive the most funding.<br>
                    - Take into account the irregularities that COVID-19 may have caused in the data.<br>
                </p>
        </div>
    </div>
    <hr>
    <section class="about" id="about">
        <div class="container">
            <div class="text-center">
                <h2>About the Team</h2>
            </div>
            <div class="row bg-dark about">
                <div class="about-one">
                    <h4>Ricardo Guerreiro</h4>
                    <h5><a class="about-link" href="https://github.com/ricardoguerreiro92" target="_blank" title="Go to Ricardo's Github">Github</a></h5>
                    <h5><a class="about-link" href="https://www.linkedin.com/in/ricardo-guerreiro-b1704519a/" target="_blank" title="Go to Ricardo's Linkedin">Linkedin</a></h5>
                </div>
                <div class="about-two">
                </div>
                <div class="about-three">
                    <h4>Marceline Ackerman</h4>
                    <h5><a class="about-link" href="https://github.com/marcelineackerman" target="_blank" title="Go to Marceline's Github">Github</a></h5>
                    <h5><a class="about-link" href="https://www.linkedin.com/in/marceline-ackerman-37526473/" target="_blank" title="Go to Marceline's Linkedin">Linkedin</a></h5>
                </div>
            </div>
            <div class="row bg-dark">
                <img class="planet" src="../static/planet.gif">
            </div>
        </div>
    </section>
    <script src="../static/js/navbar.js"></script>
</body>
<footer>
    <h6 class="instagram">Background Photo by:
      <a href="https://www.instagram.com/kellymlacy/">Kelly</a>
    </h6>
  </footer>
</html>

